{% extends 'base.html.twig' %}

{% block body %}
<section class="login-class">
    <div class="login-box">
        <h2 class="h3">Modifie ton sac</h2>
        {{form(bagForm)}}
    </div>
</section>
{% endblock %}
