    {% extends 'base.html.twig' %}



    {% block body %}
    <section class="profile-page">
        <h1>Bienvenu(e) dans votre profil {{ user.username}} </h1>
        <div class="profile-btns">
            <a href="{{ path('app_bag_add')}}">Ajouter un sac</a>
            <a href="{{ path('app_user_page_mybags')}}"> Voir mes sacs</a>
            <a href="{{ path('app_user_allborrows') }}">Sacs empruntés</a>
        </div>
    </section>
    {% endblock %}
